body{
    overflow-x: scroll;
    background-image: url("background.jpg");
    background-color: white;
}

h2, h3, p, a{
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    color: #708090; 
}

header{
  position: fixed;
  top: 0px;
}

.divider{
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    color: #D81F5C;
}

.link{
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    color: #D81F5C;
    font-size: 14px;
}

/* Sakura Media Logo */
.logo{
    margin-top: 10px;
    position: fixed;
    background-color: pink;
    padding: 10px 12px;
    margin-left: 0px;
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
    color: #D81F5C;
    border: groove;
    border-color: #778899;
}

.menu{
    margin-left: 327px;
    margin-top: 25px;
    position: fixed;
    background-color: pink;
    list-style-type: none;
    border: groove;
    border-color: #778899;
    min-width: 779px;
}

li {
  /* Position of options in header */
  float: left;
  background-color: pink;
  
  display: inline-block;
}

li a {
  /* Design of Header bar */
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  /* hover over options */
  background-color: #D81F5C;
  opacity: 0.5;
}

.instaFrame{
  margin-top: 0px;
  float: left;
  border: none;
  padding: 20px;
  height: 500px;
  width: 500px;
}

div.infoBox{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    overflow: auto;
    border: groove;
    border-color: #778899;
    padding: 2px 2px;
    background-color: pink;
    color: white;
    font-size: 13px;
}

img.productLogo{
  width: 100px;
  height: 100px;
  padding: 10px;
}
