body{
    /*TODO fix background*/
    background-image: url("background.jpg");
    background-color: white;
}

h2, h3, p, a{
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    color: #708090; 
}

header{
  position: fixed;
  top: 0px;
}

.divider{
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    color: #D81F5C;
}

.link{
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    color: #D81F5C;
    font-size: 14px;
}

/* Sakura Media Logo */
.logo{
    margin-top: 10px;
    position: fixed;
    background-color: pink;
    padding: 10px;
    margin-left: 0px;
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
    color: #D81F5C;
    border: groove;
    border-color: #778899;
}

.menu{
    margin-left: 323px;
    margin-top: 25px;
    position: fixed;
    background-color: pink;
    list-style-type: none;
    border: groove;
    border-color: #778899;
}

li {
  /* Position of options in header */
  float: left;
  background-color: pink;
}

li a {
  /* Design of Header bar */
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  /* hover over options */
  background-color: #D81F5C;
  opacity: 0.5;
}


div.infoBox{
    margin: 100px;
    overflow: auto;
    border: groove;
    border-color: #778899;
    padding: 2px;
    background-color: pink;
    color: white;
    font-size: 13px;
}
