/* Template */
body{
    overflow-x: scroll;
    background-image: url("background.jpg");
    background-color: white;
}

h2, h3, p, a{
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    color: #708090; 
}

header{
  position: fixed;
  top: 0px;
}

.divider{
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    color: #D81F5C;
}

.link{
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    color: #D81F5C;
    font-size: 14px;
}

/* Sakura Media Logo */
.logo{
    margin-top: 10px;
    position: fixed;
    background-color: pink;
    padding: 10px 12px;
    margin-left: 0px;
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
    color: #D81F5C;
    border: groove;
    border-color: #778899;
}

.menu{
    margin-left: 327px;
    margin-top: 25px;
    position: fixed;
    background-color: pink;
    list-style-type: none;
    border: groove;
    border-color: #778899;
    min-width: 779px;
}

li {
  /* Position of options in header */
  float: left;
  background-color: pink;
  
  display: inline-block;
}

li a {
  /* Design of Header bar */
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  /* hover over options */
  background-color: #D81F5C;
  opacity: 0.5;
}

/* Home */

.instaFrame{
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  height: 500px;
  width: 70%;
  border: groove;
  border-color: #778899;
  padding: 0px;
}

div.infoBox{
    margin-top: 75px;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    overflow: auto;
    border: groove;
    border-color: #778899;
    padding: 2px 2px;
    background-color: pink;
    color: white;
    font-size: 13px;
}

* {
    box-sizing: border-box;
}
            
/* Create three equal columns that floats next to each other */
.column {
  background-color: #aaa;
  float: left;
  width: 50%;
  padding: 10px;
  /*height: 300px;  Should be removed. Only for demonstration */
  color: pink;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img.productLogo{
  width: 100px;
  height: 100px;
  padding: 10px;
}

/* Location */
div.locationBox{
    margin-top: 75px;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    overflow: auto;
    border: groove;
    border-color: #778899;
    padding: 2px 2px;
    background-color: pink;
    color: white;
    font-size: 13px;
}
.map-container{
  padding: 5px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  height: 850px;
  width: 85%;
  background-color: pink;
  border: groove;
  border-color: #778899;
}

.map{
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 700px;
  width: 80%;
  border: none;
}

/* footer */
footer{
  bottom: 0px;
}
