<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sakura Media - About</title>
    </head>
    <body>
        {%extends "template.html" %}
        {% block content %}
        <div class=ok>
        <img src="/static/images/pop.jpg">
        <img src="/static/images/pop.jpg">
        <img src="/static/images/pop.jpg">
        
        <img src="/static/images/pop.jpg">
        <img src="/static/images/pop.jpg">
        <img src="/static/images/pop.jpg">
        <img src="/static/images/pop.jpg">
        <img src="/static/images/pop.jpg">
        
        <img src="/static/images/pop.jpg">
        <img src="/static/images/pop.jpg">
        <img src="/static/images/pop.jpg">
        <img src="/static/images/pop.jpg">
        <img src="/static/images/pop.jpg">
        
        <img src="/static/images/pop.jpg">
        <img src="/static/images/pop.jpg">
        </div>
         {% endblock%}
    </body>
</html>