<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>About Sakura Media</title>
    </head>
    <body>
        {%extends "template.html" %}
        {% block content %}
        
        <h1>Welcome to Sakura Media!</h1>
        <p>We are an anime store with figures, manga, and many more merchandises.
        Please visit our Sakura Media Facebook page for all product updates,
        or come to visit us in person!</p>
        <p>Follow us on our social media: </p>
        <p> <a href="https://www.facebook.com/sakuramediavancouver/">Facebook</a> and
        <a href="https://www.instagram.com/sakuramediametro/?hl=en">Instagram</a> (@sakuramediametro)</p>
        <p>...Or visit us in person! In fact, we have two stores at Metrotown Metropolis!</p>
        
        {% endblock %}
    </body>
</html>