<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sakura Media Careers</title>
    </head>
    <body>
        {%extends "template.html" %}
        {% block content %}
        
        <style>
            h3, p, a {
                text-align: center;
                font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            }
        </style>
        
        <h3>Careers</h3>
        <p>Interested in joining our team? Please register and apply through 
        <a href="https://jobs.wirkn.com/locations/f0ee3459-6afb-46fa-b178-89ab0b0ff646">
            wirkn</a>.</p>
        
        {% endblock%}
    </body>
</html>