<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        {%extends "template.html" %}
        {% block content %}
        
        <div class=infoBox>
          <h2 style="color:#D81F5C;">Sakura Media - Careers</h2>
          <h3>Looking to join our team? Please apply through <a class="link"
          href="https://jobs.wirkn.com/locations/f0ee3459-6afb-46fa-b178-89ab0b0ff646">Wirkn</a>.</h3>
          <h3 class="divider">❀~~~~~~~~~~~~~❀~~~~~~~~~~~~~❀</h3>
        </div>
        
        {% endblock%}
    </body>
</html>