<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        {%extends "template.html" %}
        {% block content %}
        
        <h1 style="color:#D81F5C;
                    margin-top: 75px;
                    background-color: #FFD2D2;
                    margin-right: auto;
                    margin-left: auto;
                    width: 50%;
                    border-radius: 6px;"
            >Frequently Asked Questions</h1>
        
        <div class="timeline">
            <div class="container left">
                <div class="contentLeft">
                    <h2>"Are there any promotional deals?"</h2>
                    <p>Yes! We have a Buy-One-Get-One 20% Sale! This deal helps many save
                    while buying multiple of their favourite products!</p>
                    <p>Note: Some restrictions apply.</p>
                </div>
            </div>
            <div class="container right">
                <div class="contentRight">
                    <h2>"Can I pre-order something?"</h2>
                    <p>Depending on the product, we can pre-order specific figures, books, etc.
                    You can call us to double check if we can get it in. If we can, you would
                    have to come in person to place the pre-order.</p>
                </div>
            </div>
        </div>
        <div class="timeline">
            <div class="container left">
                <div class="contentLeft">
                    <h2>"Do you ship your products anywhere?"</h2>
                    <p>We currently do not ship our products. We only have them for sale in store.</p>
                </div>
            </div>
            <div class="container right">
                <div class="contentRight">
                    <h2>"Can I use my Vanpla membership card here?"</h2>
                    <p>Yes! Showing us your Vanpla card will give you 10% off your gunpla model kits
                    and tools purchase!</p>
                </div>
            </div>
        </div>
        <div class="timeline">
            <div class="container left">
                <div class="contentLeft">
                    <h2>"What is your return policy?"</h2>
                    <p>Within 7 days of purchase, you are eligible for an exchange or to
                    receive store credit, as long as the item(s) are in original packaging.
                    We do not do refunds, but the good thing is that store credit does not expire!</p>
                    <p>Note: Unwrapped books are final sale.</p>
                </div>
            </div>
        </div>
        
        <h3 style="color:#D81F5C;
                    margin-top: 30px;
                    background-color: #FFD2D2;
                    margin-right: auto;
                    margin-left: auto;
                    width: 50%;
                    border-radius: 6px;"
            >Have any other questions? Call us or message us on Facebook!</h3>
        
        {% endblock%}
    </body>
</html>