<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Metro Hobbies by Sakura Media</title>
    </head>
    <body>
        {%extends "template.html" %}
        {% block content %}
        
        <style>
            h3, p, a {
                text-align: center;
                font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            }
        </style>
        
        <h3>About Metro Hobbies by Sakura Media!</h3>
        <p>Metro Hobbies is an extension of our main store, mainly focusing on model kits, paints, and tools.</p>
        <p>Our store is way bigger so we hold a greater variety! Better yet, we are within the same mall!</p>
        <p>Find our store at the <strong>lower level</strong> in the <strong>P2</strong> section.</p>
        <p>~~~~~~</p>
        <h3>Follow Metro Hobbies Social Media:</h3>
        <p> <a href="https://www.facebook.com/metrohobbiesbysakura">Facebook</a> and
        <a href="https://www.instagram.com/metrohobbiesbysakura/">Instagram</a> (@metrohobbiesbysakura)</p>
        
        {% endblock %}
    </body>
</html>