<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        {%extends "template.html" %}
        {% block content %}
        
        <div class=infoBox>
          <h2 style="color:#D81F5C;">Welcome to Sakura Media!</h2>
          <h3>Our store has many anime figurines, manga, merchandise, and model kits just for you!
          Since 1993, we've been working tirelessly to expand our product offerings and make everyone's experience even better.</h3>
          <h3 class="divider">❀~~~~~~~~~~~~~❀~~~~~~~~~~~~~❀</h3>
          <h3>Follow us to see our latest arrivals! </h3>
          <h3> <a class="link" href="https://www.facebook.com/sakuramediavancouver/">Facebook</a>, 
          <a class="link" href="https://www.instagram.com/sakuramediametro/?hl=en">Instagram</a> (@sakuramediametro),
            and <a class="link">WeChat</a>.</h3>
          <h3>...Or visit us in person! We are located at <a class="link" href="https://www.google.com/maps/place/Sakura+Media/@49.2274281,-123.001896,17z/data=!3m1!4b1!4m5!3m4!1s0x5486764f1449d2bd:0x84c0ec5044b16812!8m2!3d49.2274281!4d-122.9997073">
            Metrotown Metropolis</a>, the biggest mall in BC. See you there!</h3>
        </div>
        
        <iframe class="instaFrame" 
            src="https://www.instagram.com/sakuramediametro/" name="iframe_a"></iframe>
    
        <h1 style="margin-top: 50px; margin-bottom: 10px;">Some of our Products Include...</h1>
    
        
            <div class=firstCol>
                <img class="productLogo" src="/static/images/pop.jpg">
                <h2 class="highlight">Funko Pop</h2>
                <p>Pop! are highly stylised bobble heads from Funko based on the Japanese
                style known as Chibi.[1][2] Pop! Vinyl's cover a range of licensed brands
                and popular culture such as video games, television, movies and more.</p>
            </div>
        
        
            <div class=secondCol>
                <img class="productLogo" src="/static/images/gunpla.jpeg">
                <h2 class="highlight">Gunpla</h2>
                <p>Gundam models are model kits depicting the vehicles and characters of
                the fictional Gundam multiverse by Bandai. These kits have become popular
                among mecha anime fans and model enthusiasts since the 1980s.</p>
            </div>
        
            
            <div class=firstCol>
                <img class="productLogo" src="/static/images/manga.png">
                <h2 class="highlight">Manga</h2>
                <p>Manga are comics created in Japan or are written in the Japanese
                language, conforming to a style developed in Japan in the late 19th century.
                They have a long and complex pre-history in earlier Japanese art.</p>
            </div>
            
            <div class=secondCol>
                <img class="productLogo" src="/static/images/shfig.jpg">
                <h2 class="highlight">SH Figuarts</h2>
                <p>A new standard in action figures representing the state of the art of
                Bandai's design technology. Designed to perfectly mimic the range of motion
                of the human body, the series name is a contraction of the concepts of
                "Simple Style" and "Heroic Action."</p>
            </div>
            
            <div class=firstCol>
                <img class="productLogo" src="/static/images/bandai.png">
                <h2 class="highlight">Bandai</h2>
                <p>With a rich heritage of introducing Japanese toy trends to the United
                States, Bandai America is a leader in the boys' and girls' product categories.
                The company includes a strong brand portfolio that extends its reach in boys'
                action figures and girls' electronics</p>
            </div>
            
            <div class=secondCol>
                <img class="productLogo" src="/static/images/nendo.png">
                <h2 class="highlight">Nendoroid</h2>
                <div class="productInfo">
                    <p>The Nendoroid series is a brand of plastic figures created
                    by the Japanese Good Smile Company. They typically depict characters from anime,
                    manga or video games and are designed with a large head and smaller body to give
                    them a cute appearance.</p>
                </div>
            </div>
            
            <div class=firstCol>
                <img class="productLogo" src="/static/images/squareenix.jpeg">
                <h2 class="highlight">Square Enix</h2>
                <p>Square Enix Holdings Co., Ltd. is a Japanese video game developer, publisher,
                and distribution company that is best known for its Final Fantasy, Dragon Quest,
                and Kingdom Hearts role-playing video game franchises, among numerous others.</p>
            </div>
            
            <div class=secondCol>
                <img class="productLogo" src="/static/images/goodsmile.png">
                <h2 class="highlight">Good Smile Company</h2>
                <p>Good Smile Company is a Japanese manufacturer of hobby products such as the
                Nendoroid and figma product lines, as well as scale figures. In addition to production
                and manufacturing, its business includes design, marketing and distribution</p>
            </div>
        </div>
        {% endblock%}
    </body>
</html>