<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sakura Media - Home</title>
    </head>
    <body>
        {%extends "template.html" %}
        {% block content %}
        
        <div class=infoBox>
          <h2 style="color:#D81F5C;">Welcome to Sakura Media!</h2>
          <h3>We have many anime figurines, manga, merchandise, and model kits just for you!</h3>
          <h3 class="divider">❀~~~~~~~~~~~~~❀~~~~~~~~~~~~~❀</h3>
          <h3>Follow us to see our latest arrivals! </h3>
          <h3> <a class="link" href="https://www.facebook.com/sakuramediavancouver/">Facebook</a>, 
          <a class="link" href="https://www.instagram.com/sakuramediametro/?hl=en">Instagram</a> (@sakuramediametro),
            and <a class="link">WeChat</a>.</h3>
          <h3>...Or visit us in person! We are located at <a class="link" href="https://www.google.com/maps/place/Sakura+Media/@49.2274281,-123.001896,17z/data=!3m1!4b1!4m5!3m4!1s0x5486764f1449d2bd:0x84c0ec5044b16812!8m2!3d49.2274281!4d-122.9997073">
            Metrotown Metropolis</a>, the biggest mall in BC. See you there!</h3>
        </div>
        
        <img src="/static/images/pop.jpg">
        {% endblock%}
    </body>
</html>