<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sakura Media Home</title>
    </head>
    <body>
        {%extends "template.html" %}
        {% block content %}
        
        <style>
            h3, p, a {
                text-align: center;
                font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            }
        </style>
        
        <h2>Hey there!
        <h3>Do you enjoy watching anime, collecting figures, building model kits, and reading manga?!?!</h3>
        <h3>If so, then this store is perfect for you!!</h3>
        <p>We have a great selection of anime ranging from Naruto, Demon Slayer, My Hero Academia, Berserk, and many more!</p>
        <p>~~~~~~~~~~~~~</p>
        <p>Follow us to see new arrivals! </p>
        <p> <a href="https://www.facebook.com/sakuramediavancouver/">Facebook</a>, 
        <a href="https://www.instagram.com/sakuramediametro/?hl=en">Instagram</a> (@sakuramediametro),
        and WeChat.</p>
        <p>~~~~~~~~~~~~~</p>
        <p>...Or visit us in person! We are located at <a href="https://www.google.com/maps/place/Sakura+Media/@49.2274281,-123.001896,17z/data=!3m1!4b1!4m5!3m4!1s0x5486764f1449d2bd:0x84c0ec5044b16812!8m2!3d49.2274281!4d-122.9997073">
            Metrotown Metropolis.</a></p>
        
        {% endblock%}
    </body>
</html>