<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sakura Media Social Media</title>
    </head>
    <body>
        {%extends "template.html" %}
        {% block content %}
        
        <style>
            h3, p, a {
                text-align: center;
                font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            }
        </style>
        
        <h3>Give us a call at (604) 419-8824 if you have any questions.</h3>
        <h3>Follow Us On Social Media:</h3>
        <p> <a href="https://www.facebook.com/sakuramediavancouver/">Facebook</a>, 
        <a href="https://www.instagram.com/sakuramediametro/?hl=en">Instagram</a> (@sakuramediametro),
        and WeChat.</p>
        <p>We will post newly arrived products to keep you updated!</p>
        
        {% endblock%}
    </body>
</html>